.heder {
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    background-color: black;
}

.logo {
    display: flex;
    color: white;
    margin-left: 50px;
    font-size: 40px;
    gap: 2px;
    justify-content: center;
}

.ul-tag {
    display: flex;
    list-style: none;
    width: 100%;
    gap: 20px;
    margin-left: 479px;
}

#a-tag {
    text-decoration: none;
    padding: 0 10px 0 10px;
    color: white;
}


#a-tag:hover {
    border: gold solid 1px;
    border-radius: 45px;
}

#search-btn {
   
    background-color: transparent;
}
