.heder {
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    background-color: black;
}

.logo {
    display: flex;
    color: white;
    margin-left: 50px;
    font-size: 40px;
    gap: 2px;
    justify-content: center;
}

.ul-tag {
    display: flex;
    list-style: none;
    width: 100%;
    gap: 20px;
    margin-left: 479px;
}

#a-tag {
    text-decoration: none;
    padding: 0 10px 0 10px;
    color: white;
}


#a-tag:hover {
    border: gold solid 1px;
    border-radius: 45px;
}

#search-btn {
   
    background-color: transparent;
}

/* .search-cart {
    width: 450px;
    display: flex;
    align-items: center;
    border: white solid 2px;
    border-radius: 50px;
    padding: 0 10px 0 10px;
}

.heder-search {
    display: flex;
    align-items: center;
    gap: 8px;
    /* background: #f6f6f4;
    /* border: 1px solid var(--line); 
    padding: 6px 10px;
    /* border-radius: 999px;
}

#search {
    border: none;
    outline: none;
    background: transparent;
    width: 180px;
    color: #333;
}
.s-btn{
    background-color: transparent;
  margin-left:6px ;
}

.s-input{
    border: none;
} */