* {
    /* background-color: red; */
    height: 50vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}


h1 {
    display: flex;
    color: red;
    justify-content: center;
    align-items: center;
    margin-top: 390px;
    font-size: 50px;
}

p {
    display: flex;
    font-size: 20px;
    align-items: center;
    justify-content: center;
}