<!-- <div class="main">
    
  <div class="filters">
    <button
      (click)="filterCars('all')"
      [class.active]="activeCategory() === 'all'">
      ALL
    </button>

    <button
      (click)="filterCars('sports')"
      [class.active]="activeCategory() === 'sports'">
      SPORTS
    </button>

    <button
      (click)="filterCars('luxury')"
      [class.active]="activeCategory() === 'luxury'">
      LUXURY
    </button>

    <button
      (click)="filterCars('electric')"
      [class.active]="activeCategory() === 'electric'">
      ELECTRIC
    </button>

    <button
      (click)="filterCars('suv')"
      [class.active]="activeCategory() === 'suv'">
      SUV
    </button>
  </div>

  <div class="collection">
    <div class="car-card" *ngFor="let car of filteredCars()">

      <img 
        [src]="car.image"
        [alt]="car.name"
        (click)="openDetails(car)"
      />

      <h3>{{ car.name }}</h3>
      <p class="category">{{ car.category | uppercase }}</p>

      <div class="specs">
        <span>⚡ {{ car.power }}</span>
        <span>🏁 {{ car.speed }}</span>
      </div>

      <div class="price">{{ car.price }}</div>

      <div class="actions">
        <button class="btn-view" (click)="openDetails(car)">View</button>
        <button class="btn-book">Book</button>
      </div>

    </div>
  </div>
  
</div> -->

<div class="main">
  <input type="checkbox" id="menu-btn" style="display:none;">
<label for="menu-btn" class="hamburger-icon" style="color:white; font-size:30px; cursor:pointer; display:none;">
    ☰
</label>
  <div class="filters">
    <button (click)="filterCars('all')" [class.active]="activeCategory() === 'all'">ALL</button>
    <button (click)="filterCars('sports')" [class.active]="activeCategory() === 'sports'">SPORTS</button>
    <button (click)="filterCars('luxury')" [class.active]="activeCategory() === 'luxury'">LUXURY</button>
    <button (click)="filterCars('electric')" [class.active]="activeCategory() === 'electric'">ELECTRIC</button>
    <button (click)="filterCars('suv')" [class.active]="activeCategory() === 'suv'">SUV</button>
  </div>

  <div class="collection">
    <div class="car-card" *ngFor="let car of filteredCars()">

      <img [src]="car.image" [alt]="car.name" (click)="openDetails(car)" />

      <h3>{{ car.name }}</h3>
      <p class="category">{{ car.category | uppercase }}</p>

      <div class="specs">
        <span>⚡ {{ car.power }}</span>   
        <span>🏁 {{ car.speed }}</span>
      </div>

      <div class="price">{{ car.price }}</div>

      <div class="actions">
        <button class="btn-view" (click)="openDetails(car)">View</button>
        <button class="btn-whatsapp" (click)="contactWhatsApp(car)"> <i class="fa-brands fa-whatsapp"></i> WhatsApp
         
        </button>
      </div>

    </div>
  </div>
</div>
<app-footer></app-footer>
