.main{
  display: block;
  /* height: 100%; */
  background:#141414;
  color: #ffffff;
  padding-bottom: 60px;
  font-family: 'Poppins', sans-serif;
}

.filters {
  display: inline-flex; 
  gap: 16px;
 margin: 20px 0 50px 475px;
}

.filters button {
  padding: 10px 22px;
  border-radius: 30px;
  border: 1px solid #3a3a3a;
  background: transparent;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0.5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.filters button:hover {
  border-color: #00d4ff;
  color: #00d4ff;
}

.filters button.active {
  /* background: #ff4d00; */
      background: linear-gradient(90deg, #0082ff, #00d4ff);
  border-color: #00d4ff;
  color: #fff;
  box-shadow: 0 0 12px rgba(255, 77, 0, 0.6);
}

.collection {
  max-width: 1300px;
  margin: auto;
  padding: 0 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 35px;
}

.car-card {
  background: linear-gradient(180deg, #15161d, #0f1015);
  border-radius: 22px;
  overflow: hidden;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  position: relative;
}

.car-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.7);
}


.car-card img {
  width: 100%;
  height: 210px;
  object-fit: cover;
  transition: transform 0.6s ease;
}

.car-card:hover img {
  transform: scale(1.12);
}


.car-card h3 {
  font-size: 1.4rem;
  margin: 18px 18px 4px;
}

.category {
  margin: 0 18px 14px;
  font-size: 0.85rem;
  letter-spacing: 1px;
  color: #a1a1aa;
}


.specs {
  display: flex;
  justify-content: space-between;
  padding: 0 18px;
  font-size: 0.9rem;
  color: #e5e7eb;
}

.specs span {
  display: flex;
  align-items: center;
  gap: 6px;
}


.price {
  padding: 14px 18px;
  font-size: 1.3rem;
  font-weight: 600;
  color: #ff4d00;
}


.actions {
  display: flex;
  gap: 14px;
  padding: 0 18px 22px;
}

.actions button {
  flex: 1;
  padding: 12px 0;
  border-radius: 14px;
  border: none;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}


.btn-view {
  background: #1f2937;
  color: #ffffff;
}

.btn-view:hover {
  background: #374151;
}


.btn-book {
  background: #00d4ff;
  color: #ffffff;
}

.btn-book:hover {
  background: #00d4ff;
  box-shadow: 0 0 12px rgb(0 130 255)
}


@media (max-width: 768px) {
  .filters {
    flex-wrap: wrap;
  }

  .car-card img {
    height: 190px;
  }
}
